{% extends 'base.html.twig' %}

{% block title %}Meilleurs Rats{% endblock %}

{% block body %}
    <div class="container-lg my-5">
        <div class="row">
            <div class="col-12 col-lg-12">
                <h1>Meilleurs Rats</h1>
                {% for dealWithVotes in bestDeals %}
                    {% set deal = dealWithVotes.deal %}
                    {% set upvotes = dealWithVotes.upvotes %}
                    {% set downvotes = dealWithVotes.downvotes %}
                    
                    <div class="card mb-2 {{ deal.isActive == false ? 'inactive_card' : '' }}" style="position: relative;">
                        {% if deal.isActive == false %}
                            <div class="ribbon">
                                <span>Périmé</span>
                            </div>
                        {% endif %}
                        <div class="row no-gutters">
                            <div class="col-4 col-md-4">
                                {% if deal.imageFilename %}
                                    <a href="{{ path('deal_show', {id: deal.id}) }}">
                                        <img src="{{ asset('uploads/images/' ~ deal.imageFilename) }}" alt="{{ deal.title }}" class="card-img img-fluid" style="height: 100%; object-fit: cover;">
                                    </a>
                                {% else %}
                                    <a href="{{ path('deal_show', {id: deal.id}) }}">
                                        <img src="https://via.placeholder.com/150x100?text=No+Image" alt="{{ deal.title }}" class="card-img img-fluid" style="height: 100%; object-fit: cover;">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-8 col-md-8">
                                <a href="{{ path('deal_show', {id: deal.id}) }}" class="text-decoration-none text-dark">
                                    <div class="card-body p-1">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                            <form class="d-inline vote-form" data-deal-id="{{ deal.id }}">
                                                <input type="hidden" name="vote_type" value="upvote">
                                                <button type="submit" class="btn btn-outline-success btn-sm">
                                                    Bons Rats <span class="badge bg-light text-dark" id="upvotes-{{ deal.id }}">{{ upvotes }}</span>
                                                </button>
                                            </form>
                                            <form class="d-inline vote-form" data-deal-id="{{ deal.id }}">
                                                <input type="hidden" name="vote_type" value="downvote">
                                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                                    Mauvais Rats <span class="badge bg-light text-dark" id="downvotes-{{ deal.id }}">{{ downvotes }}</span>
                                                </button>
                                            </form>
                                            <p class="card-text mb-1 date-section"><small class="text-muted">{{ deal.publicationdate|date('Y-m-d') }}</small></p>
                                        </div>
                                        <h5 class="card-title hover-bg-blue">{{ deal.title }}</h5>
                                        <p class="card-text mb-1">{{ deal.description|length > 100 ? deal.description[:100] ~ '...' : deal.description }}</p>
                                        <p class="card-text mb-1">
                                            <span class="text-muted"><del>{{ deal.initialprice|number_format(2, ',', ' ') }} €</del></span>
                                            <span class="text-danger">{{ deal.reduceprice|number_format(2, ',', ' ') }} €</span>
                                        </p>
                                        <p class="card-text mb-1 d-none d-md-block categories-section">
                                            Catégories :
                                            {% if deal.categorie|length > 0 %}
                                                {% for category in deal.categorie %}
                                                    <span class="badge bg-secondary">{{ category.nameCategory }}</span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="text-muted">Aucune catégorie</span>
                                            {% endif %}
                                        </p>
                                        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mt-2">
                                            <p class="card-text mb-1">
                                                {% if deal.user %}
                                                    <class="text-bold text-blue">{{ deal.user.username }}</class>
                                                {% else %}
                                                    <strong class="text-blue">Utilisateur inconnu</strong>
                                                {% endif %}
                                            </p>
                                            <div>
                                                <a href="{{ deal.link }}" class="btn btn-primary btn-sm rounded-pill ms-auto" target="_blank">Voir le deal</a>
                                                <a href="{{ path('deal_show', {id: deal.id}) }}" class="btn btn-secondary btn-sm rounded-pill ms-2 d-md-none">
                                                    <img src="{{ asset('images/conversation.png') }}" alt="Commentaires" style="height: 20px; width: 20px;object-fit: contain;">
                                                    <span class="d-inline">{{ deal.comments|length }}</span>
                                                </a>
                                                <a href="{{ path('deal_show', {id: deal.id}) }}" class="btn btn-secondary btn-sm rounded-pill ms-2 d-none d-md-inline">
                                                    <img src="{{ asset('images/conversation.png') }}" alt="Commentaires" style="height: 20px; width: 20px; object-fit: contain;">
                                                    {{ deal.comments|length }} Commentaires
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    {{ knp_pagination_render(bestDeals) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const voteForms = document.querySelectorAll('.vote-form');
            
            voteForms.forEach(form => {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();

                    const dealId = form.dataset.dealId;
                    const voteType = form.querySelector('input[name="vote_type"]').value;
                    const formData = new FormData();
                    formData.append('vote_type', voteType);

                    fetch(`/deal/${dealId}/vote`, {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else {
                            document.getElementById(`upvotes-${dealId}`).textContent = data.upvotes;
                            document.getElementById(`downvotes-${dealId}`).textContent = data.downvotes;
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            });
        });
    </script>
    <style>
        .card-body {
            padding: 1rem; 
        }
        .card img {
            max-height: 18rem;
            min-height:5rem;
            width:100%;
        }
        .flex-column {
            display: flex;
            flex-direction: column;
        }

        .ribbon {
            position: absolute;
            right: -5px; top: -5px;
            z-index: 1;
            overflow: hidden;
            width: 75px; height: 75px;
            text-align: right;
        }

        .ribbon span {
            font-size: 10px;
            font-weight: bold;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 100px;
            display: block;
            background: #000000; /* Set the background color to red */
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
            position: absolute;
            top: 19px; right: -21px;
        }
        .date-section {
            margin-left: auto;
            display: inline-block;
            margin-right:50px;
        }

        @media (max-width: 992px) {
            .card img {
                max-height: 25rem;
                min-height:2rem;
                object-fit: contain;
            }
            .col-12 {
                flex: 0 0 100%;
                max-width: 400%;
            }
            .d-md-none .d-md-inline {
                display: none !important;
            }
            .card-text{
                font-size: 2em;
            }
            .card-title{
                font-size: 2em;
            }
            .categories-section {
                display: none !important;
            }
            .date-section {
                margin-left: auto;
                display: inline-block;
                margin-right:40px;
            }
            .d-md-none .d-md-inline {
                display: none !important;
            }
            .d-inline .d-md-inline {
                display: none !important;
            }
        }
    </style>
{% endblock %}
