{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Commentaires</h1>
        <div class="d-flex justify-content-start mb-4">
            <a href="{{ path('commentaire') }}" class="btn btn-outline-secondary me-2 {{ filter == 'all' ? 'active' : '' }}">Tous</a>
            <a href="{{ path('discussion_commented') }}" class="btn btn-outline-secondary me-2 {{ filter == 'commented' ? 'active' : '' }}">Commentés</a>
        </div>
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body"> 
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{ comment.User ? comment.User.Username}}</strong>
                            </div>
                            <small class="text-muted">{{ comment.commenttime|date('Y-m-d H:i') }}</small>
                        </div>
                         <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucun commentaire pour le moment.</p>
        {% endif %}
    </div>
{% endblock %}