{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Modifier la Catégorie</h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.nameCategory, 'Nom de la catégorie', { 'label_attr': { 'class': 'form-label' } }) }}
                        {{ form_widget(form.nameCategory, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.nameCategory) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(form.Categories, 'Catégorie parent', { 'label_attr': { 'class': 'form-label' } }) }}
                        {{ form_widget(form.Categories, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.Categories) }}
                    </div>
                    <button class="btn btn-success">Enregistrer les modifications</button>
                {{ form_end(form) }}
            </div>
        </div>

        <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}