
{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe pour {{ user.username }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirm_password) }}
        {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
